version: 2.1

jobs:
  build:
    macos:
      xcode: 14.2.0
    resource_class: macos.m1.medium.gen1
    environment:
      SAUCE_USERNAME: your_sauce_username
      SAUCE_ACCESS_KEY: your_sauce_access_key
    steps:
      - checkout
      - run:
          name: Install dependencies
          command: bundle install
      - run:
          name: Build and run tests
          command: bundle exec fastlane build_and_test
      - run:
          name: Upload to Sauce Labs
          command: bundle exec fastlane upload_to_sauce

workflows:
  version: 2
  build_and_test:
    jobs:
      - build
